<table class="table-primary">
  <thead>
    <tr>
      <th scope="col">email</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <td>{{this.email}}</td>
      <td><a href="/users/{{this.id}}">Edit</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
